@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Lato', 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*---------------------------- Special paddings/margins/text */

h1,h2,h3,h4 {
    font-family: 'Open Sans', sans-serif;
    size: 20px;
}

.inline-block {
    display: inline-block;
}

/*---------------------------- NavBar */

.navalert-container {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    background-color: #2f3847;

}

.navbar .navbar-toggler {
    border: 2;
    color: #c9b89f;
    border-color: #d69c44;
} 

.navbar .navbar-nav a {
    font-weight: normal;
    color: #d69c44;
}
 
.navbar .navbar-nav a:hover {
    font-weight: bold;
    color: #915b0b;
}

/*---------------------------- Jumbotron - inspired from my code institute projects[Whiskey Drop] */

.jumbotron {
    background-color: transparent;
}

.jumbotron .slogan {
    color: #b36e07;
    font-weight: bold;
    font-size: 25px;
    -webkit-text-stroke: 0.5px #472b00;
    margin: 200px 0 130px 0;
}

.hero-container {
    height: 80vh;

    background: url('../images/hero_image3.jpg') no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*---------------------------- Buttons - inspired from my code institute projects[Whiskey Drop] */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    display: inline-block;
}

.btn--abc {
    color: #ffffff;
    background-color: #d69c44;
    border-color: #d69c44;
} 

.btn--abc:hover,
.btn--abc:active,
.btn--abc:focus,
.btn--abc:active:focus {
    background-color: #aa6e14;
    border-color: #aa6e14;
    color: #2f3847;
}

/*----------------------------  Footer - inspired from my code institute projects[Rosie - resume & Love-Running], bootstrap, w3schools */

footer {
    background-color: #2f3847;
    color: #d69c44;
    min-height: 120px;
    margin: 0;
    padding-top: 8px;
    font-size: 12px;
}

.footer-title {
    font-family: 'Lato', sans-serif;
    size: 14px;
    color: #ffffff;
    margin-top: 15px;
}

.footer-menu a {
    color: #d69c44;
}

.footer-menu a:hover {
    font-weight: bold;
    color: #915b0b;
}

footer ul {
    list-style: none;

}

.footer-btn {
    font-size: 12px;
    padding: 5px;
    margin: 5px;
}

.button-footer a {
    text-decoration: none;
}

/* Footer Social Links */

.social-links li a i {
    width: 22px;
    padding: 25px 0px;
    font-size: 30px;
    line-height: 5px;
    text-align: left;
    color: #d69c44;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #2f3847;
    color: #885507;
}

/* Copyright */

p.copyright {
    width: 100%;
    color: #d69c44;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}

p.copyright a {
    color: #d69c44;
}

p.copyright a:hover {
    font-weight: bold;
    color: #915b0b;
}

/*----------------------------  Expert Bar Events */

.container-events {
    background-color: #c0d4d9;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

/*----------------------------  About Us */

.container-about {
    background-color: #c9b89f;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

/*Created smaller header for all pages, except Home page - adjusted Jumbotron on all pages*/

.page-header {
    height: 50vh;

    background: url('../images/hero_image3.jpg') no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*Created bigger header title for all pages, except Home page - adjusted Jumbotron on all pages*/

.page-header-text {
    color: #b36e07;
    font-weight: bold;
    font-size: 35px;
    -webkit-text-stroke: 0.5px #472b00;
    margin: 200px 0 130px 0;
}

/*----------------------------  Contact Us Form */

.container-contact {
    background-color: #c0d4d9;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 35px;
}

.contact-info {
    padding-bottom: 45px;
}

.container-form {
    font-size: 18px;
    text-align: left;
}

.form-group strong {
    color:#ec0d0d;
}

/*----------------------------   */