@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Lato', 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*---------------------------- Special paddings/margins/text */

h2,h5 {
    font-family: 'Lato', sans-serif;
    line-height: 1.1;
}

.inline-block {
    display: inline-block;
}

/*-- Row with equal height columns for cards - inspired from bootstrap */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*---------------------------- NavBar */

.navalert-container {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    background-color: #2f3847;
}

.navbar .navbar-toggler {
    border: 2;
    color: #c9b89f;
    border-color: #d69c44;
} 

.navbar .navbar-nav a {
    font-weight: normal;
    color: #d69c44;
}
 
.navbar .navbar-nav a:hover {
    font-weight: bold;
    color: #b36e07;
}

/*---------------------------- Jumbotron - inspired from my code institute projects[Whiskey Drop] */

.jumbotron {
    background-color: transparent;
}

.jumbotron .slogan {
    color: #d1caca;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 28px;
    -webkit-text-stroke: 1.8px #0d0d27;
    margin: 200px 0 50px 0;
}

.hero-container {
    height: 65vh;

    background: url('../images/hero_image3.jpg') no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*---------------------------- Buttons - inspired from my code institute projects[Whiskey Drop] */

.btn--cta {
    border-radius: 20px;
    display: inline-block;
    margin: 5px;
    width: 125px;
    text-align: center;
}

.btn--abc {
    color: #252e3d;
    background-color: #d69c44;
    border-color: #d69c44;
} 

.btn--abc:hover,
.btn--abc:active,
.btn--abc:focus,
.btn--abc:active:focus {
    background-color: #b36e07;
    border-color: #b36e07;
    color: #252e3d;
    font-weight: bold;
}

.btn--mbs {
    border-radius: 20px;
    margin: 5px;
    width: auto;
}

/*----------------------------  Footer - inspired from my code institute projects[Rosie - resume & Love-Running], bootstrap, w3schools */

footer {
    background-color: #2f3847;
    color: #d69c44;
    min-height: 120px;
    margin: 0;
    padding-top: 8px;
    font-size: 16px;
}

.footer-title {
    font-family: 'Open Sans', sans-serif;
    size: 16px;
    color: #ffffff;
    margin-top: 10px;
}

.footer-menu a {
    color: #d69c44;
}

.footer-menu a:hover {
    font-weight: bold;
    color: #b36e07;
}

footer ul {
    list-style: none;
}

.footer-btn {
    font-size: 14px;
    padding: 3px;
    margin: 5px;
}

.button-footer a {
    text-decoration: none;
}

/* Footer Social Links */

.social-links li a i {
    width: 22px;
    padding: 25px 0px;
    font-size: 32px;
    line-height: 5px;
    text-align: left;
    color: #d69c44;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #2f3847;
    color: #b36e07;
}

/* Copyright */

p.copyright {
    width: 100%;
    color: #d69c44;
    font-size: 12px;
    text-align: center;
    bottom: 0;
}

p.copyright a {
    color: #d69c44;
}

p.copyright a:hover {
    font-weight: bold;
    color: #b36e07;
}

/*----------------------------  Expert Bar Events */

.container-events {
    background-color: #c0d4d9;
}

/*----------------------------  About Us */

.container-about {
    background-color: #c9b89f;
}

/*----------------------------  Using one tag for padding for all pages sections*/

.pad-text {
    padding-top: 8px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
}

/*Created smaller header for all pages, except Home page - adjusted Jumbotron on all pages*/

.page-header {
    height: 60vh;

    background: url('../images/hero_image3.jpg') no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*Created bigger header title for all pages, except Home page - adjusted Jumbotron on all pages*/

.page-header-text {
    color: #d1caca;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
    -webkit-text-stroke: 1.8px #0d0d27;
    margin: 200px 0 130px 0;
}

/*----------------------------  Contact Us Form */

.container-contact {
    background-color: #c0d4d9;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 35px;
}

.contact-info {
    padding-bottom: 45px;
}

.container-form {
    font-size: 16px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
}

.form-group strong {
    color:#ec0d0d;
}

/*----------------------------  Month Bar Suggestion */

.container-bartip {
    background-color: #c0d4d9;
}

/*----------------------------  Tools To Have */
 
.container-tools {
   background-color: #c9b89f;
}

.container-tools dt {
    padding-top: 20px;
    text-transform: uppercase;
}

.container-tools dl {
    background-color: #e6dccf;
    border-radius: 15px;
    padding: 0 15px 15px 15px;
    
}


/*----------------------------  Cocktails to Try */

.container-tryout {
    background-color: #c9b89f;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

.card {
    border-radius: 15px;
}

.card-pad {
    font-size: 16px;
    padding: 15px 25px 15px 35px;
    background-color: #f8f8f8;
}

.card lh {
    font-weight: bold;
}

.card h5 {
    background-color: #e6dccf;
    border-radius: 15px;
    padding: 0 8px 8px 8px;
    text-align: center;
}

/*----------------------------  Buy Ingredients */

.container-shops {
    font-size: 16px;
    background-color: #c0d4d9;
}

.shop-row {
    background-color: #dde4e6;
    border-radius: 25px;
}

.shop-col {
    padding: 15px 30px 15px 30px;
}

.shop-row p {
    padding-top: 8px;
}

.shop-row a {
    color: #ca8e33;
}

.shop-row a:hover {
    font-weight: bold;
    color: #b36e07;
}

/*----------------------------  Team Event Intro */

.container-inevent {
    background-color: #c0d4d9;
    text-align: center;
}

.intro-sub {
    font-size: 18px;
}

.figure {
    display: table;
    border-top: none;
    padding-top: 0;
}

.figure-caption {
    display: table-caption;
    caption-side: top;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    color: #2f3847;
    margin-bottom: 10px;
}

/*---------------------------- Future Events */

.container-futureev {
    text-align: center;
    background-color: #c9b89f;
}

table {
    display: inline;
    font-size: 16px;
}

.table-bordered td, .table-bordered th, .table-bordered tr {
    border-color: #1f2530 !important;
}

.table tbody tr:hover {
    background-color: #c0d4d9;
}

.thead-bg {
    background-color: #2f3847;
    color: #ffffff;
}

.tbody-bg {
    background-color: #e6dccf;
    color:  #2f3847;
}

/*---------------------------- Testimonials */

.container-review {
    background-color: #c0d4d9;
}

.blockquote p {
    font-size: 16px;
}

.blockquote-footer {
    font-size: 16px;
    text-align: right;
}

/*---------------------------- */